
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="text-900 font-bold text-4xl mb-4 text-center">Lista de Produtos</div>
  <div class="grid">
   <app-card-produto></app-card-produto>
  </div>
</div>
<!-- <div class="search-container">
  <div class="search">
    <input pInputText [(ngModel)]="filtroDescricao" placeholder="Pesquisar por descrição">
    <button pButton type="button" label="Pesquisar" (click)="filtrarPorDescricao()"></button>
  </div>
  <div class="card flex justify-content-center">
    <p-multiSelect [options]="categorias" (onChange)="filtrarPorCategoria()" [options]="categorias" [(ngModel)]="selectedCategory" defaultLabel="Filtrar por categoria" optionLabel="descricao" display="chip"></p-multiSelect>
  </div>
</div> -->
<!-- <app-card-produto></app-card-produto> -->
