<div class="home-container" [ngStyle]="{backgroundColor:'var(--highlight-bg)', color: 'var(--highlight-text-color)', borderRadius: 'var(--border-radius)', padding: '3rem'}">
  <div class="panel-container" [ngStyle]="{backgroundColor:'var(--surface-300)', color: 'var(--highlight-text-color)', borderRadius: 'var(--border-radius)', padding: '3rem'}">
    <h3>Filtros</h3>
    <p-checkbox [value]="estoqueFilter" label="Estoque" (onChange)="onFilterChange('estoque', $event)"></p-checkbox>
    <p-checkbox [value]="categoriaFilter" label="Categoria" (onChange)="onFilterChange('categoria', $event)"></p-checkbox>
    <p-checkbox [value]="produtoFilter" label="Produto" (onChange)="onFilterChange('produto', $event)"></p-checkbox>
  </div>
  <div class="product-container">
    <h1>Controle de Estoque</h1>
    <div class="search-container">
      <input pInputText [(ngModel)]="filtroDescricao" placeholder="Pesquisar por descrição">
      <button pButton type="button" label="Pesquisar" (click)="filtrarPorDescricao()"></button>
    <div class="product-list">
      <app-card-produto *ngFor="let produto of produtos | slice:(paginator.first) : (paginator.first + paginator.rows)" [produto]="produto"></app-card-produto>
      <p-paginator #paginator [rows]="5" [totalRecords]="produtos.length" [pageLinkSize]="3" [style]="{marginTop: '1rem'}" [rowsPerPageOptions]="[5]"></p-paginator>
    </div>
  </div>
</div>
