<div class="cadastro-container">
  <h2>Cadastro de Usuário</h2>
  <div class="cadastro-form">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>
      <input type="text" pInputText placeholder="Username">
    </div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-lock"></i>
      </span>
      <input type="password" pInputText placeholder="Senha">
    </div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-lock"></i>
      </span>
      <input type="password" pInputText placeholder="Confirmação sua Senha">
    </div>
    <button type="button" pButton label="Cadastrar" class="p-button-primary"></button>
  </div>
</div>
