.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
}

.logo-container img {
  width: 100px;
}

.user-container {
  display: flex;
  gap: 20px;
  align-items: center;
  color: black;
}
