<div class="card-produto-container">
  <img [src]="produto.foto" alt="Foto do Produto" class="produto-foto">
  <div class="produto-descricao">{{ produto.descricao }}</div>
  <div class="produto-quantidade">
    <div class="status" [ngClass]="getStatusClass()">
      <span class="status-text">{{ getStatusText() }}</span>
    </div>
    <div class="quantidade-container">
      <button pButton icon="pi pi-minus" class="p-button-rounded" (click)="diminuirQuantidade()"></button>
      <span class="quantidade">{{ quantidadePedido }}</span>
      <button pButton icon="pi pi-plus" class="p-button-rounded" (click)="aumentarQuantidade()"></button>
    </div>
  </div>
  <div class="produto-valor">Valor: R$ {{ produto.valor }}</div>
  <p-button label="Comprar" styleClass="p-button-raised p-button-success"></p-button>
</div>
